*

!Dockerfile
!.dockerignore
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json

!packages/
packages/*
!packages/core/
!packages/core/**
!packages/service/
!packages/service/**

packages/core/dist/
packages/service/dist/
packages/core/node_modules/
packages/service/node_modules/
packages/core/*.tsbuildinfo
packages/service/*.tsbuildinfo
